# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\JavaProject\JAVA第五阶段\5阶段\02dubbo\dubbo-day01\资料\springboot_javamail\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
